
.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #ffffff;      
  color: #1e3a8a;                  
  padding: 10px 20px;
  border-bottom: 2px solid #ebe9e9; 
}


.header-left .logo-image {
  width: 150px;
  height: auto;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}


.icon {
  font-size: 20px;
  margin-right: 5px;
  color: #1e3a8a; 
}

.profile-icon {
  background-color: transparent;
  color: #1e3a8a;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-icon:hover {
    background-color: #e0f2fe; 
  color: #000000;
}


.logout-btn {
  background-color: transparent;
  color: #1e3a8a;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: #e0f2fe; 
  color: #000000;
}