body {
  margin-top:100px;
  background: -webkit-gradient(linear, left top, right top, from(#121313ed), to(#7da0c3));
  background: -moz-linear-gradient(left, #CCCCCC, #000000);
}

#registro,.form-control{
  width:100%;
  max-width: 320px;  
  margin: auto;
  height: auto;
  font-size: 16px;
  background:#ffffffab;
  border-box:1px solid #000000;
  border-radius:10px;
}


#registro{
  position: relative;  
  height:auto;
  padding:10px;
  font-size:16px;

}

#registro, input { 
  border-radius:5px;
}

.labeltxt{
  font-weight: bold;
  padding:20px 0px 0px 0px;
  color:#000000;

}

.btn{
   width:65%;  
   margin:30px 0px 20px 55px;
   border-radius:10px;
   font-weight: bold;
   background-color:#1abc9c;
   padding-left:10px;
}
.btn:hover{
	border:1px solid #000000c7;
	border-radius:10px;	
	border-radius: 10px;
    box-shadow: 1px 1px 1px 2px #0c6d58;
}
.titulo{
  padding: 10px 0px 10px 111px;
  border-bottom:1px solid #000000;
}

.imgavatar{
  position:relative;
  padding: 0px 0px 20px 111px;  
}

a{
  margin:0px 0px 0px 100px;
  color:#000000;
  font-size: 14px;  
}
a:hover{
  color:#5d738a;
}
